.nav-link {
    &:hover {
        background-color: aqua;
        cursor: pointer;
    }
}

.nav-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    background-color: red;
    color: green;
    text-shadow: -1px .5px .5px orange;
    font-weight: bold;
    transition: .5s;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}