@import './styles.icons.scss';

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

// ----------------
// DYNAMIC STYLES
// ----------------

// font size

@for $i from 1 to 10 {
    .fs-#{$i}-rem {
        font-size: 8px * $i;
    }
}

// margins
@for $i from 1 to 101 {
    .m-#{$i} {
        margin: 8px * $i;
    }

    .mt-#{$i} {
        margin-top: 8px * $i;
    }

    .mb-#{$i} {
        margin-bottom: 8px * $i;
    }

    .mx-#{$i} {
        margin-right: 8px * $i;
        margin-left: 8px * $i;
    }

    .my-#{$i} {
        margin-top: 8px * $i;
        margin-bottom: 8px * $i;
    }
}

// paddings
@for $i from 1 to 101 {
    .p-#{$i} {
        padding: 8px * $i;
    }

    .pl-#{$i} {
        padding-left: 8px * $i;
    }

    .pr-#{$i} {
        padding-right: 8px * $i;
    }

    .px-#{$i} {
        padding-right: 8px * $i;
        padding-left: 8px * $i;
    }

    .py-#{$i} {
        padding-top: 8px * $i;
        padding-bottom: 8px * $i;
    }
}

// height/witdth
@for $i from 1 to 101 {
    .h-#{$i}-pc {
        height: #{$i}#{"%"};
    }

    .w-#{$i}-pc {
        width: #{$i}#{"%"};
    }

    .h-#{$i}-vh {
        height: #{$i}vh;
    }

    .w-#{$i}-vw {
        height: #{$i}vw;
    }
}

// min width/height

@for $i from 1 to 101 {
    .min-h-#{$i}-pc {
        min-height: #{$i}#{"%"};
    }

    .min-w-#{$i}-pc {
        min-width: #{$i}#{"%"};
    }

    .min-h-#{$i}-vh {
        min-height: #{$i}vh;
    }

    .min-w-#{$i}-vw {
        min-height: #{$i}vw;
    }

    .max-h-#{$i}-pc {
        max-height: #{$i}#{"%"};
    }

    .max-w-#{$i}-pc {
        max-width: #{$i}#{"%"};
    }

    .max-h-#{$i}-vh {
        max-height: #{$i}vh;
    }

    .max-w-#{$i}-vw {
        max-height: #{$i}vw;
    }
}
